{% load static %}

<section id="{{certificate.slug}}" class="certificate-section">
    <!-- at the four elements i add margin block 4 for small screens -->
    <div class="row d-flex flex-wrap justify-content-center justify-content-md-between g-4">

        <article class="col-12 col-lg-5 my-4 my-lg-0">
            <h3>{{certificate.title}}</h3>
            <p class="m-0">{{certificate.description}}</p>
        </article>

        <figure class="col-12 col-lg-6 col-xxl-5 d-flex justify-align-center  my-4 my-lg-0">
            <img style="object-fit:contain" class="" src="{{ certificate.image.url }}" alt="{{certificate.title}}">
        </figure>

        <div class="col-12 col-md-6 col-lg-6">
            <h4>Topics</h4>
            {% for topic in certificate.topics.all %}
                <li>{{topic}}</li>
            {% endfor %}
        </div>

        <div class="col-12 col-md-6 col-lg-6 d-flex flex-column justify-content-evenly text-start text-md-center">
            <!-- source -->
            <div>
                <a class="nav-link" href="{{certificate.src}}" target="_blank">
                <span class="badge text-bg-light">
                    <img class="small-icon icon-me-1" src="{% static 'blog/icons/link-solid.svg' %}" alt="link icon">
                    <span>Check the Certificate</span>
                </span>
            </a>
            </div>
            
            <!-- cource page -->
            <div>
                <a class="nav-link" href="{{certificate.course}}" target="_blank">
                <span class="badge text-bg-light">
                    <img class="small-icon icon-me-1" src="{% static 'blog/icons/link-solid.svg' %}" alt="link icon">
                    <span>Course Page</span>
                </span>
                </a>
            </div> 
            <!-- excercises -->
            {% if certificate.excercises  %}
            <div>
                <span class="badge text-bg-light">
                    <img class="small-icon icon-me-1" src="{% static 'blog/images/verified.svg' %}" alt="github icon">
                    <span>{{certificate.excercises}} Excercises</span>
                </span>
            </div>
            {% endif %}

            <!-- projects -->
            {% if certificate.project  %}
            <div>
                <span class="badge text-bg-light">
                    <img class="small-icon icon-me-1" src="{% static 'blog/images/verified.svg' %}" alt="globe icon">
                    <span>{{certificate.project}} Project{{ certificate.project | pluralize }}</span>
                </span>
            </div>
            {% endif %}


            <!-- availlable_projects -->
            {% if certificate.available_projects  %}
            <div>
                {% for project in certificate.available_projects.all %}
                <a class="nav-link" href="{{project.get_absolute_url}}" >
                <span class="badge text-bg-light">
                    <img class="small-icon icon-me-1" src="{% static 'blog/images/verified.svg' %}" alt="globe icon">
                    <span>{{project.title}}</span>
                </span>
                </a>
                {% endfor %}
            </div>
            {% endif %}
            

        </div>
       
    </div>
</section>