/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark--blue: rgb(1,5,19);
    --mask--dark--blue: rgba(1, 5, 19, 0.8);
}
@font-face {
    font-family: 'TiltNeon';
    src: local('TiltNeon'),
         url('../fonts/TiltNeon-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'YoungSerif';
    src: local('YoungSerif'),
         url('../fonts/YoungSerif-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'),
         url('../fonts/Lato-Regular.ttf') format("truetype");
}

html {
    scroll-padding-top: 65px;
}
body {
    background-color: gray;
    font-family: 'Lato';
}
h1, h2, h3, h4 {
    font-family: 'YoungSerif';
}
h5, h6, li, button, .btn, .font-neon {
    font-family:  'TiltNeon';
}

main {
    min-height: 100vh;
    
}
section:not(:first-child) {
    padding-block: 40px;
}
img {
    width: 100%;
}
/* .row {
    margin-bottom: 0 !important;
} */
.breadcrumb {
    position: relative;
    top:15px;
}
.breadcrumb::after {
    position: absolute;
    content:'you are now here';
    left: 0;
    bottom: 100%;
    font-size: 0.8em;
}
/* navbar */
.nav-item {
    list-style: none !important;
    transition: color 0.1s, background-color 0.2s;
}
.nav-item:hover {
    background-color: rgba(61, 61, 61, 0.438);
}

.nav-item.active {
    color: var(--dark--blue);
    background-color: white;
}
.mobile-menu {
    overflow: hidden;
    background-color: var(--dark--blue);
    height: 0;
    opacity: 0;
    transition: opacity 0.2s, height 0.2s;
}
.mobile-menu.active {
    height: 320px;
    opacity: 1;
}
.general-mobile-navbar.active {
    height: 250px;
}
.mobile-item {
    padding: 30px;
    margin-block: 5px;
    color: white;
    border: solid 2px white;
    font-size: 1.5rem;
}
.mobile-item:first-child {
    margin-top: 15px;
}
.icon {
    width: 16px;
}
.bg-darkblue {
    background-color: var(--dark--blue);
}

/* for develope */

main {
    background-color: var(--dark--blue);
}

.badge {
    font-size: 0.8em;
}
.small-icon {
    width: 12px;
    position: relative;
    top:-1px;
}
.icon-me-1 {
    margin-right: 5px;
}

/* for project section */
.child-max-400px > * {
    max-width: 400px;
}