{% load static %}

{% for project in projects  %}
<a class="card project-card nav-link" href='#projects-slash-{{project.name}}-type-slug'>
    <figure class="product-img">
        <img  src="{{project.image}}" alt="{{project.name}}">
    </figure>

    <div class="card-body d-flex flex-column justify-content-between">
        <div>
            <h4 class="card-title">{{project.name}}</h4>
            <p class="card-text">{{project.description}}</p>
        </div>
        <div class="text-center mt-3 m-sm-0">
            <h6>This Project has</h6>

            {% comment %} github code {% endcomment %}
            {% if project.code  %}
                <span class="badge text-bg-dark">
                    <img class="small-icon" src="{% static 'blog/images/github.svg' %}" alt="github icon">
                    <span>Code</span>
                </span>
            {% endif %}

            {% comment %} online {% endcomment %}
            {% if project.online  %}
                <span class="badge text-bg-dark">
                    <img class="small-icon" src="{% static 'blog/images/globe-solid.svg' %}" alt="globe icon">
                    <span>Online</span>
                </span>
            {% endif %}

            {% comment %} demo youtube {% endcomment %}
            {% if project.demo  %}
            <span class="badge text-bg-dark">
                <img class="small-icon" src="{% static 'blog/images/youtube.svg' %}" alt="youtube icon">
                <span>Demo</span>
            </span>
            {% endif %}

            {% comment %} certificate {% endcomment %}
            {% if project.certificate  %}
                <span class="badge text-bg-dark">
                    <img class="small-icon" src="{% static 'blog/images/verified.svg' %}" alt="certificate icon">
                    <span>Certificate</span>
                </span>
            {% endif %}

            {% comment %} post {% endcomment %}
            {% if project.code  %}
                <span class="badge text-bg-dark">
                    <img class="small-icon" src="{% static 'blog/images/blog-solid.svg' %}" alt="Blog icon">
                    <span>Post</span>
                </span>
            {% endif %}
            
            
            <h5 class="text-center mt-4 mb-3">Click for see more...</h5>
        </div>
    </div>
</a>
{% endfor %}

