<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Thanks for get in contact</title>
</head>
<body class="container txt-center m-center">
    <section class="tipic-flex ">
        <figure>
            <img class="photo" src="profile.jpg" alt="photo of the creator an owner of the site keinermendoza">
        </figure>
        <article class="min-250px max-500px m-center txt-header">
            <h1>Hello {{name}}, and thanks for get in contact</h1>
            <h2>I'm Keiner and it will be a place for me to respond to your comments and questions</h2>
        </article>
    </section>
    <section class="">
        <h3>What is this?</h3>
        <h4 class="max-500px m-center">This is an automatic response to your message:</h4>

        <q class="m-center gray-card max-500px">{{messge}}</q>

        <p>has soon as I see your message <span class="important">I'll text you back</span><br>
        feel free to ask as many question as you want</p>

    </section>
    <section>
        <p>If for any reason this the message up wasn't sended by you, you can contact me by the button bellow</p>
        <button>Contact Me</button>
    </section>
</body>
</html>