{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>


   

    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <link rel="canonical" href="https://keinermendoza.com/">
    <meta name="title" content="Keiner Mendoza. Web Developer">
    <meta name="description" content="Keiner Mendoza is a Web Developer who likes to solve problems and create websites. with knowledge of HTML, CSS, JavaScript, Python, Django Framework and related technologies.">
    
    <meta property="og:title" content="Keiner Mendoza. Web Developer">
    <meta property="og:title" content="globo.com - Absolutamente tudo sobre notícias, esportes e entretenimento">
    <meta property="og:description" content="Keiner Mendoza is a Web Developer who likes to solve problems and create websites. with knowledge of HTML, CSS, JavaScript, Python, Django Framework and related technologies.">
    
    <meta property="og:site_name" content="keiner-mendoza-web-developer">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://keinermendoza.com/">
    
    

    <meta charset="UTF-8">
    <meta name="author" description="keiner mendoza" >
    <meta property="og:image" content="https://keinermendoza.com/static/blog/images/profile.webp" />

    
    
    <!-- Twitter -->
    <meta name="twitter:title" content="Keiner Mendoza is a Web Developer who likes to solve problems and create websites. with knowledge of HTML, CSS, JavaScript, also Python, Django Framework and related technologies." />
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://keinermendoza.com/">
    <meta property="twitter:title" content="Keiner Mendoza. Web Developer.">
    <meta property="twitter:description" content="Keiner Mendoza is a Web Developer who likes to solve problems and create websites. with knowledge of HTML, CSS, JavaScript, also Python, Django Framework and related technologies.">
    <meta property="twitter:image" content="https://keinermendoza.com/static/blog/images/profile.webp">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/icons/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'blog/icons/favicon.ico' %}" type="image/x-icon" />
    
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css'  %}">

    <link rel="stylesheet" href="{% static 'blog/css/general.css'  %}">

    <script src="{% static 'blog/js/navbar.js' %}" ></script>





    {% block script %}{% endblock script %}

    <title>
        {% block title %}{% endblock title %}
    </title>
</head>

<body>
    <!-- for email animation -->
    {% include "blog/components/email_animation.html" %}

    <header class="sticky-top">
        {% if current == 'homepage' %}
            {% include "blog/components/navbar_home.html" %}
        {% else %}
            {% include "blog/components/navbar_general.html" %}
        {% endif %}

    </header>

    {% comment %} I anulate the paddings for customize the backgrounds {% endcomment %}
    <main class="container-xxl px-0">
        {% block main %}{% endblock main %}
    </main>
    
    {% include "blog/components/footer.html" %}


    {% block endscript %}
    {% endblock endscript %}
</body>
</html>