{% extends "blog/base.html" %}
{% load static %}


{% block script %}
<link rel="stylesheet" href="{% static 'blog/css/components/project_card.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'blog/css/components/certificate_card.css' %}"> {% endcomment %}

    <link rel="stylesheet" href="{% static 'blog/css/project.css' %}">
{% endblock script %}
    
{% block title %}Keiner Mendoza - Web Developer - Certificates - {{certificate.title}}{% endblock title %}

{% block main %}
<section class="projects container-fluid py-4">
    <h1 class="text-center pt-3 mb-4 color-action" >{{certificate.title}}</h1>

        {% include "blog/components/certificates/certificate_card.html" with certificate=certificate %}
                
    </section>
        
{% endblock main %}