{% extends "blog/base.html" %}
{% load static %}


{% block script %}
    <script src="{% static 'blog/js/toast.js' %}"></script>
    <script src="{% static 'blog/js/homepage_animation_on_scroll.js' %}"></script>

    <link rel="stylesheet" href="{% static 'blog/css/components/project_card.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/homepage.css' %}">
    <script src="{% static 'blog/js/contact_email_form.js' %}"></script>
{% endblock script %}

{% block title %}
    Home Page
{% endblock title %}
 

{% block main %}
    
    {% comment %} hero {% endcomment %}
    <div id="home" class="container-fluid">    
    <section  class="d-flex flex-wrap-reverse  justify-content-between gap-md-1  ">
        <article class="col-12 h-md-100 col-md-6 text-center text-md-start mt-3">
            
            <!-- principal text -->
            <div class='d-grid h-50'  >
                <div class='h-md-100 align-self-center'>
                    <h1>I'm Keiner Mendoza</h1>
                    <h2>Web Developer</h2>
                </div>
            </div>
            
            <!-- text + call to action -->
            <div class='d-grid h-50'>
                <div class='h-md-100 mb-4 align-self-end'>
                    <h4>I love make websites</h4>
                    <div class="d-flex justify-content-center justify-content-md-start gap-2 text-center font-neon">
                        <!-- email feature  -->
                        <div>
                            <a class="btn btn-primary mb-1">Send me a Message</a>
                            {% comment %} <p class="">Use the email sistem <br/> of this site</p> {% endcomment %}
                        </div>
                        
                        <!-- this is for the chat feature  -->
                        {% comment %} <div>
                            <a class="btn btn-primary mb-1">Send me an Message</a>
                            <p class="mb-0">Use the message sistem <br/> of this site. Requires an account<br/> (it's free)</p>
                        </div>  {% endcomment %}
                    </div>
                </div>
            </div>

        </article>

        <figure class="col-12 col-md-4 mt-3">
            <!-- I had an extra col inside for limitate the imag size on small screens -->
            <div class="col-10 mx-auto col-md-12">
                <img class="profile" src="{% static 'blog/images/profile.jpg' %}" alt="profile picture of the programmer keiner mendoza" />
            </div>
        </figure>
    </section>
</div>
    {% comment %} about {% endcomment %}
    <section id="about" class="text-light about">
        <h2 class="text-center  mb-4">About</h2>

                <div class="row mx-0">
                    <!-- at the four elements i add margin block 4 for small screens -->
                    <div class="row  mx-0 d-flex flex-wrap justify-content-center justify-content-md-between ">

                        <p class=" col-12 col-md-5 my-4 my-md-0">
                            I graduated from the Faculty of Economic Sciences with a Bachelor's degree in Economics. Subjects related to Computer Science always caught my attention, but it was not until 2022 that I really discovered the field of programming and since then I have not stopped delving deeper into the field of web development.
                        </p>
                        <figure class="about-svg col-12 col-md-4  my-4 my-md-0">
                            <img class="" src="{% static 'blog/images/mobile_ds.svg' %}" alt="a person designing an mobile User interface">
                        </figure>
                    </div>
                        
                    <!-- i had an extra div for swap the img and text in small screens -->
                    <div class="row  mx-0 d-flex flex-wrap-reverse my-md-5 justify-content-center justify-content-md-between">

                        <figure class="about-svg  col-12 col-md-5 my-4 my-md-0">
                            <img class="" src="{% static 'blog/images/desktop_ds.svg' %}" alt="a person designing an desktop User interface">
                        </figure>
                        <p class=" col-12 col-md-5  my-4 my-md-0" >
                            I consider myself a self-taught web developer, I have developed projects in my free time using different technologies, among which the django development framework stands out. I am currently looking for a job as a full-time web developer. I speak Spanish, some Portuguese, and I have a basic understanding of English. I currently live in Brazil.
                        </p>
                    </div>
                
                </div>

    </section>

    {% comment %} projects {% endcomment %}
    <section id="projects" class="projects container-fluid">
        <h1 class="text-center text-light pt-4 mb-4">Projects</h1>
        <article class="row gap-4 row-cols-1 row-cols-sm-2 row-cols-lg-3 d-flex justify-content-evenly child-max-400px">
            {% include "blog/home_components/project_components/project_card.html" with projects=projects %}
        </article>
        <div class="text-center mt-5">
            <a class="btn btn-light btn-lg mx-auto" href="{% url 'project_list'  %}">See all the projects</a>
        </div>
    </section>
    
    <!-- aqui quiero un carrusel -->
    <!-- eliminar cretificate list, dejar solo certificate detail -->

    {% comment %} certificates {% endcomment %}
    <section id="certificates">
        <h2 class="text-center mb-4">Certificates</h2>
        <div class="">
            {% include "blog/home_components/certificate_components/certificate_preview.html" with certificates=certificates %}
        </div>
        <div class="text-center mt-5">
            <a class="btn btn-light btn-lg mx-auto" href="{% url 'certificate_list'  %}">See all the certificates</a>
        </div>
    </section>
    
    {% comment %} contact {% endcomment %}
    <section id="contact">
        <h2 class="contact text-center fs-1">Contact</h2>
        <div class="row">
            <div class="col-12 col-sm-11 mx-auto col-md-6">
                <h3>This are my social network</h3>

                <div class="h-100 position-relative">
                    <img class="network-img" src="{% static 'blog/images/network.jpg' %}" alt="">

                    <a href="https://github.com/keinermendoza/" class="nav-link position-absolute net-icon github-icon" target="_blank">
                        <figure class="social-icon">
                            <img src="{% static 'blog/icons/github.svg' %}" alt="github icon">
                        </figure>
                    </a>

                    <a href="https://www.youtube.com/channel/UCeZssHQPq4WT8K-_v0SfOPw" class="nav-link position-absolute net-icon youtube-icon" target="_blank">
                        <figure class="social-icon">
                            <img src="{% static 'blog/icons/youtube.svg' %}" alt="youtube icon">
                        </figure>
                    </a>



                    <a href="https://www.linkedin.com/in/keiner-asael-mendoza-andrade-988ab594/" class="nav-link position-absolute net-icon linkedin-icon" target="_blank">
                        <figure class="social-icon">
                            <img src="{% static 'blog/icons/linkedin.svg' %}" alt="linkedin icon">
                        </figure>
                    </a>

                    <a href="https://twitter.com/Keiner_Mendoza" class="nav-link position-absolute net-icon twitter-icon" target="_blank">
                        <figure class="social-icon">
                            <img src="{% static 'blog/icons/square-x-twitter.svg' %}" alt="twitter icon">
                        </figure>
                    </a>

            

                </div>
            </div>

            <div class="col-12 col-md-6 text-light">

                <!-- for limit reduce a bit more the width form on screens greater than small -->
                <div class="col-12 col-sm-11 mx-auto">
                    <h3>
                        Send me an email
                    </h3>
                    <p class="fs-5">This uses the email send system of this website. You will recive an automatic response now and latter I will get in touch.</p>
                    

                    <div class="email_form_container">
                        <form id="contact_email_form" action="{% url 'api_email_contact' %}" method="post">
                                {% csrf_token %}

                            <labe class="fs-5" for="request_name">Name</label>
                            <input class="fs-5 form-control mt-2 mb-4" id="request_name" type="text" name="name">

                            <labe class="fs-5" for="request_email">Email</label>
                            <input class="fs-5 form-control mt-2 mb-4" id="request_email" type="email" name="email">
                            
                            <label class for="request_body">Your Message</label>
                            <textarea class="form-control mt-2 mb-4" name="message" id="request_body" cols="30" rows="6"></textarea>
                            <div class="text-end">
                                <input class="fs-5 btn btn-primary" type="submit" value="Send">
                            </div>
                        </form>
                    </div>

                </div>
                
            </div>

            <!-- end of the row -->
        </div>
    </section>

    <section class="gird-social">

    </section>

{% endblock main %}


