{% extends "blog/base.html" %}
{% load static %}


{% block script %}
<link rel="stylesheet" href="{% static 'blog/css/components/project_card.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/project.css' %}">
{% endblock script %}
    
{% block title %}Project Page{% endblock title %}

{% block main %}
<section class="projects container-fluid py-4">
    

    {% if project.youtube_id %}
    <div class="ytiframe mb-5">
        <figure class="ytiframe__iframe">
            <iframe class="iframe" width="100%" height="auto" src="https://www.youtube.com/embed/{{project.youtube_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </figure>
    </div>
    {% endif %}


    <h1 class="text-center color-action pt-3">{{project.title}}</h1>

    <article class="row my-4 d-flex flex-wrap-reverse justify-content-between">
        <div class="col-12 col-md-6 fs-5">{{project.description}}</div>

        <figure class="col-12 col-md-5">
            <img  src="{{ project.image.url }}" alt="{{project.title}}">
        </figure>  
    </article>

    <article class="fs-5">
        <p>This project was developed with the next tecnologies:</p>
        <ul>
            {% for tec in project.tecnologies.all %}
            <li>{{tec}}</li>
            {% endfor %}
        </ul>

        <div class="fs-5">
            <p>Here you can find some resources related to this project:</p>

            {% if project.online %}
            <div class="btn btn-primary rounded-pill">
                <a class="nav-link" href="{{project.online}}" target="_blank">
                    <img class="small-icon icon-me-1" src="{% static 'blog/icons/link-solid.svg' %}" alt="link icon">
                    You can see this project online here
                </a>
            </div>
            {% endif %}

            {% if project.certificate %}
            <div class="btn btn-primary bg-darkblue">
                <a class="nav-link" href="{{project.certificate.get_absolute_url}}">
                    <img class="icon icon-me-1" src="{% static 'blog/icons/white-verified.svg' %}" alt="link icon">
                    <span><strong>Project related to Certificate</strong><br>{{project.certificate.title}}</span>
                    
                </a>
            </div>
            {% endif %}

        </div>
    </article>
    

    



</section>
        
{% endblock main %}