{% load static %}
<footer class="footer container-xxl py-3">
    <div class="row">

          <div class=" text-center text-md-start col-12 col-md-8">
            <p class="fs-3">
                Keiner Mendoza Site
            </p>
  
          <p class="fs-5">
            To share my projects, ideas and code.
          </p>
        </div>
  
        <div class="col-12 col-md-4">
            <div class="row">

                <ul class="col-6">
                    <p>On this site</p>
                    <li class="my-1"><a href="{% url 'home' %}">Homepage</a></li>
                    <li class="my-1"><a href="{% url 'project_list' %}">Projects</a></li>
                    <li class="my-1"><a href="{% url 'certificate_list' %}">Certificates</a></li>
                </ul>
                
                <ul class="col-6 text-end">
                    <p>
                        My Social Networks
                    </p>
                    <li class="my-1"><a href="https://www.youtube.com/channel/UCeZssHQPq4WT8K-_v0SfOPw" target="_blank">YouTube</a></li>
                    <li class="my-1"><a href="https://www.linkedin.com/in/keiner-asael-mendoza-andrade-988ab594/" target="_blank">Linkedin</a></li>
                    <li class="my-1"><a href="https://github.com/keinermendoza/" target="_blank">Github</a></li>
                </ul>

            </div>

        </div>
  
  
      <div class="col-12 text-center text-md-start">
        <p>Made by Keiner Mendoza with <span>  
          <svg class="icon icon-footer-heart" xmlns="http://www.w3.org/2000/svg" fill="#EA1A1A" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>

          {% comment %} <img class="icon icon-footer-heart" src="{% static  'blog/icons/heart-solid.svg'%}" alt=""> {% endcomment %}
        </span></p>
        <p>
          <strong>Copyright © 2023 keinermendoza</strong><br>
        </p>
  
      </div>


    </div>
</footer>