{% load static %}
<header class="p-3 px-md-4 text-white fixed-top d-grid align-content-center bg-darkblue">
    <div id="navbar" class="d-flex align-items-center justify-content-between">

        {% comment %} logo {% endcomment %}
        <div id="brand"><strong>Keiner Mendoza</strong></div>

        {% comment %} nav links {% endcomment %}
        <nav class="col-7 d-none d-md-flex align-items-center justify-content-evenly ">
            {% include "blog/home_components/navbar_components/links.html" with links=links %}
        </nav>

        <button id="navbar-btn" class="d-block d-md-none px-2 py-1 rounded-3 up">
            <img id="bars" class="icon" src="{% static 'blog/images/bars-staggered.svg' %}" />
            <img style="display:none;" id="x" class="icon" src="{% static 'blog/images/x.svg' %}" />
        </button>
        
        
    </div>
    
    {% comment %} mobile link {% endcomment %}
    <div class="mobile-menu d-grid"  id="mobile-menu">
        <div class="d-flex flex-column text-center justify-content-between">
            {% include "blog/home_components/navbar_components/links.html" with links=links mobile=True %}
        </div>
    </div>
</header>