{% extends "blog/base.html" %}
{% load static %}


{% block script %}
<link rel="stylesheet" href="{% static 'blog/css/components/project_card.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/components/certificate_card.css' %}">

    <link rel="stylesheet" href="{% static 'blog/css/project.css' %}">
{% endblock script %}
    
{% block title %}{{certificate.title}}{% endblock title %}

{% block main %}
<section class="projects container-fluid">
    <h1 class="text-center pt-4 mb-4">{{certificate.title}}</h1>

        {% include "blog/home_components/certificate_components/certificate_card.html" with certificate=certificate %}
                
    </section>
        
{% endblock main %}